<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title>Editar Socio</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body onload="activePage()">
	<nav class="navbar navbar-expand navbar-light header-navbar py-1 bg-dark">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="sidebar-heading text-white">
					<a th:href="@{/socios}">
						<img class="col-1 m-0 p-0 brand-icon" src="../assets/images/logo.png" alt="icon Club Pergamino"/>
					</a>
				</div>
				
			</div>
		</div>
	</nav>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<nav class="border-end" id="side-menu" >
			<h6 class="text-secondary mt-2 ms-1">Menu</h6>
			<i class="d-lg-none bi bi-x text-secondary position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="offcanvas" data-bs-target="#side-menu"></i>
			<ul class="list-group border-top" id="list-tab" role="tablist">
				<li><a class="list-group-item list-group-item-action border-0" id="socios" th:href="@{/socios}" href="#socios"><i class="bi bi-person-fill aside-icon"></i>Socios</a></li>
				<li><a class="list-group-item list-group-item-action border-0" id="nuevo-socio" th:href="@{/nuevo-socio}" href="#creacion"><i class="bi bi-person-plus-fill aside-icon"></i>Creación</a></li>
				<li><a class="list-group-item list-group-item-action border-0" id="cobrar-socio" th:href="@{/cobrar-socio}" href="#cobrar-socio"><i class="bi bi-cash-coin aside-icon"></i>Cobrar</a></li>
				<li><a class="list-group-item list-group-item-action border-0" id="socios-pendientes" th:href="@{/socios-pendientes}" href="#socios-prendientes"><i class="bi bi-hourglass-bottom aside-icon"></i>Socios Pendientes</a></li>
				<li><a class="list-group-item list-group-item-action border-0" id="socios-vitalicios" th:href="@{/socios-vitalicios}" href="#socios-vitalicios"><i class="bi bi-infinity aside-icon"></i>Socios Vitalicios</a></li>
			</ul>
		</nav>
		<button class="border-0 bg-white d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#side-menu" aria-controls="side-menu"><i class="bi bi-caret-right-fill text-secondary"></i></button>

	<div class="container-fluid mt-2" layout:fragment="page-content">
		<div class="d-flex justify-content-between align-items-center">
			<h1 class="text-secondary fs-3">Editar solcio</h1>
			<button type="button" class="btn btn-primary btn-sm me-3" onclick="limpiarCamposYRedirigir()"><i class="bi bi-arrow-left-circle me-1"></i>Volver</button>
		</div>
		<div class="row">
			<div class="card-body pt-0">
				<form th:action="@{/guardar-socio}" th:object="${socio}" method="post" onsubmit="return validarFormulario();">
					<div class="form-group row mb-2">
						<div class="col-6">
							<label>ID:</label>
							<input type="text" name="id" th:field="*{id}" class="form-control form-control-sm" readonly="readonly">
						</div>
						<div class="col-6">
							<label>Nombre:</label>
							<input type="text" name="name" th:field="*{name}" class="form-control form-control-sm">
						</div>
					</div>

					<div class="form-group row mb-2">
						<div class="col-6">
							<label>Apellido:</label>
							<input type="text" name="surname" th:field="*{surname}" class="form-control form-control-sm">
						</div>
						<div class="col-6">
							<label>Telefono:</label>
							<input type="text" name="telephone" th:field="*{telephone}" class="form-control form-control-sm">
						</div>
					</div>

					<div class="form-group row mb-2">
						<div class="col-6">
							<label>Dirección:</label>
							<input type="text" id="address" name="address" th:field="*{address}" class="form-control form-control-sm" required>
						</div>
						<div class="col-6">
							<label>Localidad:</label>
							<input type="text" id="location" name="location" th:field="*{location}" class="form-control form-control-sm" required>
						</div>
					</div>

					<div class="form-group row mb-2">
						<div class="col-6">
							<label>Número de documento:</label>
							<input type="text" id="document_number" name="document_number" th:field="*{document_number}" class="form-control form-control-sm" required>
						</div>
						<div class="col-6">
							<label>Fecha de Nacimiento:</label>
							<input type="date" id="bthday_date" name="bthday_date" th:field="*{bthday_date}" class="form-control form-control-sm" required>
						</div>
					</div>

					<div class="form-group row mb-2">
						<div class="col-6">
							<label>F. Admisión:</label>
							<input type="date" id="admission_date" name="admission_date" th:field="*{admission_date}" class="form-control form-control-sm" required>
						</div>
						<div class="col-6">
							<label>Aceptado:</label>
							<select id="accepted" name="accepted" th:field="*{accepted}" class="form-control form-control-sm" required>
								<option value="" selected>Elige...</option>
								<option value="Si">Sí</option>
								<option value="No">No</option>
							</select>
						</div>
					</div>
					<div class="d-flex justify-content-end align-items-center pt-2">
						<input type="submit" class="btn btn-primary btn-sm col-12 col-lg-2" value="Guardar">
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			function limpiarCamposYRedirigir() {
				window.location = '/socios';
			}
		</script>
		<script>
			function validarTelefono() {
				var telefono = document.getElementById("telephone").value;
				// Expresión regular para permitir solo números
				var regex = /^[0-9]+$/;
				if (!regex.test(telefono)) {
					alert("Por favor, ingrese solo números en el campo de teléfono.");
					return false; // Evita que se envíe el formulario
				}
				return true; // Permite enviar el formulario
			}

			function validarFormulario() {
				if (!validarTelefono()) {
					return false;
				}

				var docNumber = document.getElementById("document_number").value;

				// Verificar número de documento
				var regexDocNumber = /^[0-9]+$/;
				if (!regexDocNumber.test(docNumber) || docNumber.length < 7) {
					alert("Número de documento debe contener solo números y tener al menos 7 dígitos.");
					return false;
				}

				return true; // Permite enviar el formulario
			}
		</script>
				<script>
					function activePage(){
							const page = document.getElementById("socios");
							page.classList.add('active-page')
					}
				</script>
	</div>
</body>
</html>

