<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title>Editar Socio</title>
</head>
<body onload="activePage()">
	<div class="container-fluid mt-2" layout:fragment="page-content">
		<div class="d-flex justify-content-between align-items-center">
			<h1 class="text-secondary fs-3">Editar solcio</h1>
			<button type="button" class="btn btn-primary btn-sm me-3" onclick="limpiarCamposYRedirigir()"><i class="fas fa-arrow-circle-left me-1"></i>Volver</button>
		</div>
		<div class="row">
			<div class="card-body pt-0">
				<form th:action="@{/guardar-socio}" th:object="${socio}" method="post" onsubmit="return validarFormulario();">
					<div class="form-group row mb-2">
						<div class="col-6">
							<label>ID:</label>
							<input type="text" name="id" th:field="*{id}" class="form-control form-control-sm" readonly="readonly">
						</div>
						<div class="col-6">
							<label>Nombre:</label>
							<input type="text" name="name" th:field="*{name}" class="form-control form-control-sm">
						</div>
					</div>

					<div class="form-group row mb-2">
						<div class="col-6">
							<label>Apellido:</label>
							<input type="text" name="surname" th:field="*{surname}" class="form-control form-control-sm">
						</div>
						<div class="col-6">
							<label>Telefono:</label>
							<input type="text" name="telephone" th:field="*{telephone}" class="form-control form-control-sm">
						</div>
					</div>

					<div class="form-group row mb-2">
						<div class="col-6">
							<label>Dirección:</label>
							<input type="text" id="address" name="address" th:field="*{address}" class="form-control form-control-sm" required>
						</div>
						<div class="col-6">
							<label>Localidad:</label>
							<input type="text" id="location" name="location" th:field="*{location}" class="form-control form-control-sm" required>
						</div>
					</div>

					<div class="form-group row mb-2">
						<div class="col-6">
							<label>Número de documento:</label>
							<input type="text" id="document_number" name="document_number" th:field="*{document_number}" class="form-control form-control-sm" required>
						</div>
						<div class="col-6">
							<label>Fecha de Nacimiento:</label>
							<input type="date" id="bthday_date" name="bthday_date" th:field="*{bthday_date}" class="form-control form-control-sm" required>
						</div>
					</div>

					<div class="form-group row mb-2">
						<div class="col-6">
							<label>F. Admisión:</label>
							<input type="date" id="admission_date" name="admission_date" th:field="*{admission_date}" class="form-control form-control-sm" required>
						</div>
						<div class="col-6">
							<label>Aceptado:</label>
							<select id="accepted" name="accepted" th:field="*{accepted}" class="form-control form-control-sm" required>
								<option value="" selected>Elige...</option>
								<option value="Si">Sí</option>
								<option value="No">No</option>
							</select>
						</div>
					</div>
					<div class="d-flex justify-content-end align-items-center pt-2">
						<input type="submit" class="btn btn-success btn-sm col-12 col-lg-2" value="Guardar">
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			function limpiarCamposYRedirigir() {
				window.location = '/socios';
			}
		</script>
		<script>
			function validarTelefono() {
				var telefono = document.getElementById("telephone").value;
				// Expresión regular para permitir solo números
				var regex = /^[0-9]+$/;
				if (!regex.test(telefono)) {
					alert("Por favor, ingrese solo números en el campo de teléfono.");
					return false; // Evita que se envíe el formulario
				}
				return true; // Permite enviar el formulario
			}

			function validarFormulario() {
				if (!validarTelefono()) {
					return false;
				}

				var docNumber = document.getElementById("document_number").value;

				// Verificar número de documento
				var regexDocNumber = /^[0-9]+$/;
				if (!regexDocNumber.test(docNumber) || docNumber.length < 7) {
					alert("Número de documento debe contener solo números y tener al menos 7 dígitos.");
					return false;
				}

				return true; // Permite enviar el formulario
			}
		</script>
				<script>
					function activePage(){
							const page = document.getElementById("socios");
							page.classList.add('active-page')
					}
				</script>
	</div>
</body>
</html>

